In [1]:
from italian_csv_type_prediction.dataframe_generators import SimpleDatasetGenerator
from italian_csv_type_prediction.models import TypePredictor
import pandas as pd

In [2]:
model = TypePredictor()
model.fit(number=1000)

HBox(children=(IntProgress(value=0, description='Rendering dataset', max=1000, style=ProgressStyle(description…

In [3]:
dataset = SimpleDatasetGenerator()

df, y = dataset.generate_simple_dataframe()

model.predict_dataframe(df)

,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
0,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,NaN,BiologicalSex
1,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,NaN,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
2,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,NaN,BiologicalSex
3,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
4,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,NaN,Surname,String,EMail,NaN,Currency,Date,NaN
5,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,NaN,Municipality,Year,Integer,...,NaN,NaN,Name,Surname,String,NaN,PhoneNumber,Currency,Date,BiologicalSex
6,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,NaN,NaN,Name,Surname,String,EMail,PhoneNumber,Currency,NaN,BiologicalSex
7,CodiceFiscale,IVA,NaN,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,NaN,PhoneNumber,Currency,Date,NaN
8,IVA,NaN,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,NaN,BiologicalSex
9,NaN,NaN,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,NaN,PhoneNumber,Currency,Date,BiologicalSex
10,NaN,NaN,Address,CAP,NaN,ProvinceCode,Region,NaN,Year,Integer,...,NaN,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
11,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,NaN,Integer,...,Country,CountryCode,NaN,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
12,IVA,CodiceFiscale,Address,CAP,NaN,NaN,Region,NaN,Year,Integer,...,Country,NaN,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
13,CodiceFiscale,NaN,Address,NaN,NaN,ProvinceCode,Region,NaN,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,NaN,NaN,BiologicalSex
14,NaN,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
15,NaN,IVA,NaN,CAP,NaN,ProvinceCode,Region,NaN,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
16,CodiceFiscale,NaN,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,NaN,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
17,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,NaN,Year,NaN,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
18,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,NaN,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
19,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,NaN,Integer,...,Country,CountryCode,NaN,Surname,String,EMail,NaN,Currency,Date,BiologicalSex
20,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,NaN,Surname,String,NaN,PhoneNumber,Currency,Date,BiologicalSex
21,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,NaN,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
22,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,NaN,Currency,Date,BiologicalSex
23,IVA,CodiceFiscale,NaN,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,NaN
24,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,Region,NaN,Year,Integer,...,Country,CountryCode,Name,Surname,NaN,NaN,PhoneNumber,Currency,Date,BiologicalSex
25,IVA,CodiceFiscale,Address,CAP,NaN,ProvinceCode,Region,NaN,Year,Integer,...,NaN,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
26,NaN,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,NaN,Integer,...,Country,CountryCode,Name,Surname,String,NaN,PhoneNumber,Currency,NaN,BiologicalSex

In [4]:
df

,CodiceFiscale,IVA,Address,CAP,NaN,ProvinceCode,Region,Municipality,Year,Integer,...,Country,CountryCode,Name,Surname,String,EMail,PhoneNumber,Currency,Date,BiologicalSex
0,00532510070,MRBRRA29D57H903I,Via Vigna,84028,NaN,CE,VENETO,PALMAS ARBOREA,2009.0,95831.0,...,bielorussia,VA,trenisha,toscano,la sabbia,gladys.rim@rim.org,+39-319-555-5344,"97.146,00 €",NaN,M
1,07891830585,CRPDGI53L02I759X,Viale Francesco Ciusa,83049.0,,AT,SICILIA,PIANA DI MONTE VERNA,1999.0,17366.0,...,kuwait,NaN,brycn,soria,l'autunno,merilyn_bayless@cox.net,+39-313-555-3976,"58.573,00 €",1996-03-25,uomo
2,MRTMRT80C19A439L,02103890980,Via Lario,56022,,MS,SARDEGNA,MANTA,1993.0,95834.0,...,cambogia,CY,jarion,bundi,(il) golf,glen_bartolet@hotmail.com,+39-371-055-5099,"39.869,00 €",NaN,M
3,00609240148,BNCRLA60E44C648M,Corso Galileo Ferraris,4023,NaN,PC,CALABRIA,FRATTA POLESINE,1997.0,-44490.0,...,ciad,CG,natile,spruiell,il suo/la sua or i suoi/le sue,lawrence.lorens@hotmail.com,+39-366-555-953,"97.001,00 €",1953-01-19,donna
4,FRRMLD22B67H720K,06043370821,Via T. L. Buonaiuto,58022,/,TR,TRENTINO ALTO ADIGE,SANT'ARCANGELO,2025.0,83261.0,...,giappone,MD,NaN,hadley,il polso,allene_iturbide@cox.net,NaN,"88.243,00 €",1977-07-02,NaN
5,BRBFRC76A49B952J,01717380859,Corso Giuseppe Mazzini,189,\r,UD,NaN,ISOLA D'ASTI,1998.0,99867.0,...,NaN,NaN,younglove,clerge,finire,NaN,+39-370-555-391106,"4.349,00 €",1969-08-30,F
6,DDSGLN47D09E752Q,12535770155,Via S. Antonio,6069,\r,CZ,EMILIA ROMAGNA,SALARA,1996.0,-51128.0,...,NaN,NaN,sarette,syers,l'inverno scorso,rodolfo@hotmail.com,+39-313-555-0422,"15.013,00 €",NaN,maschio
7,CNTDLL66H08D154U,01790870669,NaN,14034.0,/,OR,PUGLIA,ORTA SAN GIULIO,2028.0,-72344.0,...,libia,SR,kolsen,altvater,che cosa?,NaN,+39-381-555-533252,"12.434,00 €",1981-11-03,NaN
8,05729660828,NaN,Via Carlo Magno,27038,0,MO,LIGURIA,MAGIONE,2005.0,-6449.0,...,serbia,CY,laramie,twitchel,il dado (dadi e bulloni),choa@hoa.org,+39-368-555-416230,"98.435,00 €",NaN,uomo
9,NaN,NaN,Via Zaniboni,08027,?,PC,MARCHE,BRENZONE,2029.0,-32357.0,...,liechtenstein,LK,detlef,waughtel,il letto,NaN,+39-385-555-2732,"18.671,00 €",1928-04-22,maschio
10,NaN,NaN,Via Po,13019.0,\r,TR,LAZIO,NaN,2027.0,98257.0,...,NaN,OM,blayne,markson,il braccio (le braccia),marge@gmail.com,+39-324-555-827,"14.469,00 €",1988-05-21,femmina
11,04628020960,SNTMTT24T22C940M,Via Vesuvio,86092.0,_,FG,FRIULI VENEZIA GIULIA,RIMASCO,NaN,67870.0,...,gibuti,SO,NaN,demato,il clacson,catalina@hotmail.com,+39-351-255-538,"51.147,00 €",1962-02-03,M
12,01942460690,RSSDTL51T58H461K,Strada Torino,20047,NaN,NaN,ABRUZZO,NaN,2006.0,46949.0,...,regno unito,NaN,asbjørn,kinard,Io lo conosco,louvenia.beech@beech.com,+39-363-555-350,"53.773,00 €",1971-04-22,donna
13,MNCSLV22C47E669C,NaN,Via Villa Inferiore,NaN,_,MT,PIEMONTE,NaN,2000.0,96930.0,...,tunisia,RS,keland,aditi,"Ho (venti, trenta …) anni.",lhagele@cox.net,+39-392-555-0487,NaN,NaN,femmina
14,NaN,05373440725,Via Collecchio,14023.0,0,MB,MOLISE,DRESANO,2000.0,-413.0,...,mauritania,GN,khamiya,railsback,il soggiorno,gwenn_suffield@suffield.org,+39-313-555-2798,"46.033,00 €",1964-08-23,femmina
15,NaN,05408800729,NaN,07022,/,TR,TRENTINO ALTO ADIGE,NaN,2008.0,-26873.0,...,laos,MN,omerah,jaggie,(il) rugby,junita@aol.com,+39-324-555-1615,"65.004,00 €",1931-08-27,uomo
16,LNGCRN96P70F117M,NaN,Via Sacerdoti Gruelli,87023,Nan,FG,TOSCANA,SANT'ANDREA DI CONZA,2002.0,74066.0,...,kazakistan,CV,dray,NaN,ti piace qui?,tasia_andreason@yahoo.com,+39-351-055-5077,"65.772,00 €",1954-09-18,uomo
17,01183090073,CRTMRS26E55L866H,Piazza De Medici,17044,NaN,NO,LIGURIA,NaN,2009.0,NaN,...,saint kitts e nevis,NO,tya,poole,quest'estate,bgillaspie@gillaspie.com,+39-311-015-5551,"93.249,00 €",1984-11-22,M
18,02239180405,FRRPCR77T31B293I,Piazza Donna Bianca De Tharolis,37052,.,TS,PIEMONTE,CANEVA,NaN,-49589.0,...,palau,CM,jhonathan,adelblue,il cavallo,lashandra@yahoo.com,+39-371-055-592,"13.356,00 €",1933-09-01,F
19,00630700052,BRTLTZ87B60L324N,Via Capitello,83027.0,-,VV,VENETO,SPOLETO,NaN,71975.0,...,sudan del sud,CL,NaN,henderosn,il suo/la sua (of her),amie.perigo@yahoo.com,NaN,"74.278,00 €",1931-09-28,M
20,03755090481,DSNLNZ93H62E040H,Via Paolo Ricci,20027,Nan,MO,CALABRIA,LAVAGNA,1999.0,28842.0,...,austria,MD,NaN,chatmon,l'Asia,NaN,+39-351-255-570,"56.920,00 €",1975-07-10,uomo
21,09659151006,BNDCRN72L65B982Q,Via Tindari,12054.0,,BA,PIEMONTE,SAN GIOVANNI IN MARIGNANO,2030.0,73148.0,...,giordania,PH,jesston,NaN,questi/queste,galen@yahoo.com,+39-366-555-038,"81.551,00 €",1959-05-19,maschio
22,01403480690,CPRNLN35H41G005H,Via Grande 62 -ang. Via Della Madonna,10136,\r,BR,SICILIA,SOVER,2018.0,-43140.0,...,turchia,CM,renai,ulberg,preposizioni dimostrative,yuki_whobrey@aol.com,NaN,"21.852,00 €",1943-11-08,M
23,03771160151,RCCNDR69H20I302M,NaN,13033.0,?,PT,MARCHE,MOSCIANO SANT'ANGELO,2024.0,81857.0,...,nigeria,GB,daud,senatore,il macellaio,sheron@aol.com,+39-310-555-5142,"3.843,00 €",2001-11-11,NaN
24,ZNTFNC75S57L494P,01031820192,Via San Giovanni A Carbonara,89022,0,CA,PUGLIA,NaN,2007.0,367.0,...,figi,NP,lorrainne,sayman,NaN,NaN,+39-320-555-920,"67.401,00 €",1967-01-25,maschio
25,01673460703,GLLFRC00L53E925Y,Piazza Falcone E Borsellino,64013.0,.,AR,SARDEGNA,NaN,2016.0,69134.0,...,NaN,CR,chrishaunda,gaudier,serpente,cyril_daufeldt@daufeldt.com,+39-390-555-178,"68.797,00 €",1928-05-15,maschio
26,NaN,01146441009,Piazza Castagnedi,09023,-,UD,LIGURIA,TRINITAPOLI,NaN,77853.0,...,liberia,CR,yileymi,draxler,riguardo (a),NaN,+39-320-555-533,"49.356,00 €",NaN,maschio