In [38]:
from italian_csv_type_prediction.simple_types import ItalianFiscalCodeType, CurrencyType, DateType, IntegerType
import pandas as pd
from csv_trimming import trim_csv

In [7]:
from italian_csv_type_prediction import TypePredictor

In [2]:
predictor = ItalianFiscalCodeType()

In [3]:
predictor.validate("BDLMMD88S01Z336Z")

True

In [31]:
predictor = CurrencyType()

In [32]:
predictor.validate("erede: Maria Rossi CF: RSSMRA80A01H501U")

False

In [37]:
datePredictor = DateType()
datePredictor.validate("16/05/2018")

True

In [39]:
integerPredictor = IntegerType()
integerPredictor.validate("16/05/2018")

False

In [8]:
predictor = TypePredictor()

In [27]:
df = pd.read_csv("../../Desktop/esemioDemo/esemioDeno2.csv", sep=";", header=None)
df

     0   ...                                                 12
0   NaN  ...                                                NaN
1   NaN  ...                                                NaN
2   NaN  ...                                                NaN
3   NaN  ...                                         Nominativo
4   1.0  ...                                                NaN
5   2.0  ...                                                NaN
6   3.0  ...           erede: Maria Rossi  CF: RSSMRA80A01H501U
7   4.0  ...                                                NaN
8   5.0  ...                                                NaN
9   6.0  ...                                                NaN
10  7.0  ...                                                NaN
11  8.0  ...  Legale Rappresentante: Manuela Gialli CF:  GLL...
12  NaN  ...                                                NaN
13  NaN  ...                                                NaN
14  NaN  ...                                                NaN
15  NaN  ...                                                NaN
16  NaN  ...                                                NaN

[17 rows x 13 columns]

In [28]:
df = trim_csv(df)
df

   column 0        CF-PERSONA  ...   DATA EMIS                                         Nominativo
0       1.0  VRSMNT72M57D976N  ...  16/05/2018                                                NaN
1       2.0  BTACHR82P57F205V  ...  16/05/2018                                                NaN
2       3.0  BBNFNC79P08F205P  ...  16/05/2018           erede: Maria Rossi  CF: RSSMRA80A01H501U
3       4.0         463700583  ...    16052018                                                NaN
4       5.0         828430157  ...  16/05/2018                                                NaN
5       6.0        2774940965  ...  32/05/2018                                                NaN
6       7.0  BDLMMD88S01Z336Z  ...  16/13/2018                                                NaN
7       8.0  BDLMMD71M22Z336D  ...  16/05/2018  Legale Rappresentante: Manuela Gialli CF:  GLL...

[8 rows x 13 columns]

In [29]:
predictor.predict_dataframe(df)

    column 0         CF-PERSONA Ragione Sociale Indirizzo casa  ...        ANNO DOC    IMPORTO DATA EMIS Nominativo
0  NumericId  ItalianFiscalCode          String        Address  ...            Year    Integer   Integer        NaN
1  NumericId  ItalianFiscalCode          String        Address  ...            Year    Integer   Integer        NaN
2  NumericId  ItalianFiscalCode          String        Address  ...            Year  NumericId   Integer   Currency
3  NumericId         ItalianVAT          String        Address  ...            Year    Integer   Integer        NaN
4  NumericId         ItalianVAT          String        Address  ...  ItalianZIPCode    Integer   Integer        NaN
5  NumericId         ItalianVAT          String        Address  ...            Year    Integer   Integer        NaN
6  NumericId  ItalianFiscalCode          String        Address  ...            Year  NumericId   Integer        NaN
7  NumericId  ItalianFiscalCode          String        Address  ...            Year    Integer   Integer   Currency

[8 rows x 13 columns]