In [1]:
from italian_csv_type_prediction.simple_types import ItalianFiscalCodeType, CurrencyType, DateType, IntegerType
from italian_csv_type_prediction.column_types import AnyTypePredictor
import pandas as pd
from csv_trimming import trim_csv

In [2]:
from italian_csv_type_prediction.features.words import Words

In [3]:
feature = Words()

feature.score("ftgh///jk3343")

6

In [4]:
from italian_csv_type_prediction import TypePredictor

In [5]:
predictor = ItalianFiscalCodeType()

In [6]:
predictor.validate("BDLMMD88S01Z336Z")

True

In [7]:
predictor = CurrencyType()

In [8]:
predictor.validate("erede: Maria Rossi CF: RSSMRA80A01H501U")

False

In [9]:
datePredictor = DateType()
datePredictor.validate("32/05/2018")

False

In [10]:
integerPredictor = IntegerType()
integerPredictor.validate("16/05/2018")

False

In [11]:
predictor = TypePredictor()

In [12]:
df = pd.read_csv("../../Desktop/esemioDemo/esemioDeno2.csv", sep=";", header=None, dtype="str")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,Dettaglio delle bollette da riscuotere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,CF-PERSONA,Ragione Sociale,Indirizzo casa,N.,CAP,Comune,PROV,NUM. DOC.,ANNO DOC,IMPORTO,DATA EMIS,Nominativo
4,1,VRSMNT72M57D976N,"BERSACI, MARIA ANTONIETTA",VIA MEDA,8,20018,SEDRIANO,MII,16035,2018,1710,16/05/2018,NaN
5,2,BTACHR82P57F205V,"ABATE, CHIARA",VIA NEGRELLI,3,20018,SEDRIANO,MI,1,2018,172,16/05/2018,NaN
6,3,BBNFNC79P08F205P,"ABBONDI, FRANCESCO",VICOLO TOSCANINI,26,20018,SERRIANO,GE,20100,2018,21,16/05/2018,erede: Maria Rossi CF: RSSMRA80A01H501U
7,4,463700583,ROTOCOLORPA,VIA GORIZIA,18,20018,SEDRIANO,MI,9,2018,347,16052018,NaN
8,5,828430157,QUADRATEC.R.L.,VIA GORIZIA,18,20018,SERRIANO,MI,11,1018,351,16/05/2018,NaN
9,6,2774940965,NEWAPIRUS.A.S.,VIA TURATI,40,20018,SEDRIANO,MI,12,2018,277,32/05/2018,NaN
10,7,BDLMMD88S01Z336Z,"Neri, RAHMAM",VIA DELLA FILANDA,11,20018,SEDRIANO,MI,13,2018,57,16/13/2018,NaN
11,8,BDLMMD71M22Z336D,"ABDELAZIZ, MOHAMED",VIA SAN MASSIMO,62,20018,SEDRIANO,MI,14,2018,294,16/05/2018,Legale Rappresentante: Manuela Gialli CF: GLL...
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,I dati prodotti in questo documento sono confo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,Totale delle bollette,3229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df = trim_csv(df)
df

,column 0,CF-PERSONA,Ragione Sociale,Indirizzo casa,N.,CAP,Comune,PROV,NUM. DOC.,ANNO DOC,IMPORTO,DATA EMIS,Nominativo
0,1,VRSMNT72M57D976N,"BERSACI, MARIA ANTONIETTA",VIA MEDA,8,20018,SEDRIANO,MII,16035,2018,1710,16/05/2018,NaN
1,2,BTACHR82P57F205V,"ABATE, CHIARA",VIA NEGRELLI,3,20018,SEDRIANO,MI,1,2018,172,16/05/2018,NaN
2,3,BBNFNC79P08F205P,"ABBONDI, FRANCESCO",VICOLO TOSCANINI,26,20018,SERRIANO,GE,20100,2018,21,16/05/2018,erede: Maria Rossi CF: RSSMRA80A01H501U
3,4,463700583,ROTOCOLORPA,VIA GORIZIA,18,20018,SEDRIANO,MI,9,2018,347,16052018,NaN
4,5,828430157,QUADRATEC.R.L.,VIA GORIZIA,18,20018,SERRIANO,MI,11,1018,351,16/05/2018,NaN
5,6,2774940965,NEWAPIRUS.A.S.,VIA TURATI,40,20018,SEDRIANO,MI,12,2018,277,32/05/2018,NaN
6,7,BDLMMD88S01Z336Z,"Neri, RAHMAM",VIA DELLA FILANDA,11,20018,SEDRIANO,MI,13,2018,57,16/13/2018,NaN
7,8,BDLMMD71M22Z336D,"ABDELAZIZ, MOHAMED",VIA SAN MASSIMO,62,20018,SEDRIANO,MI,14,2018,294,16/05/2018,Legale Rappresentante: Manuela Gialli CF: GLL...

In [18]:
any_predictor = AnyTypePredictor()
    
any_predictor.predict(df.values[:, 10], [None]*df.shape[0], [None]*df.shape[0])

{'Address': [False, False, False, False, False, False, False, False],
 'ItalianZIPCode': [False, False, False, False, False, False, False, False],
 'ItalianFiscalCode': [False, False, False, False, False, False, False, False],
 'CountryCode': [False, False, False, False, False, False, False, False],
 'Country': [False, False, False, False, False, False, False, False],
 'Currency': [True, True, True, True, True, True, True, True],
 'Date': [False, False, False, False, False, False, False, False],
 'EMail': [False, False, False, False, False, False, False, False],
 'Float': [True, True, True, True, True, True, True, True],
 'Integer': [True, True, True, True, True, True, True, True],
 'ItalianVAT': [False, False, False, False, False, False, False, False],
 'Document': [False, False, False, False, False, False, False, False],
 'NumericId': [False, False, False, False, False, False, False, False],
 'Municipality': [False, False, False, False, False, False, False, False],
 'Name': [False, False, False, False, False, False, False, False],
 'NaN': [False, False, False, False, False, False, False, False],
 'PhoneNumber': [False, False, False, False, False, False, False, False],
 'ProvinceCode': [False, False, False, False, False, False, False, False],
 'Region': [False, False, False, False, False, False, False, False],
 'String': [True, True, True, True, True, True, True, True],
 'Surname': [False, False, False, False, False, False, False, False],
 'Year': [False, False, False, False, False, False, False, False],
 'BiologicalSex': [False, False, False, False, False, False, False, False],
 'Boolean': [False, False, False, False, False, False, False, False],
 'Plate': [False, False, False, False, False, False, False, False],
 'CadastreCode': [False, False, False, False, False, False, False, False]}

In [15]:
df.values[:, 4]

array(['8', '3', '26', '18', '18', '40', '11', '62'], dtype=object)

In [16]:
predictor.predict_dataframe(df)

,column 0,CF-PERSONA,Ragione Sociale,Indirizzo casa,N.,CAP,Comune,PROV,NUM. DOC.,ANNO DOC,IMPORTO,DATA EMIS,Nominativo
0,Error,ItalianFiscalCode,Address,Address,Error,ItalianZIPCode,Error,Error,Error,Error,Error,Date,NaN
1,Error,ItalianFiscalCode,Address,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,NaN
2,Error,ItalianFiscalCode,Address,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,Error
3,Error,ItalianVAT,Address,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,NaN
4,Error,ItalianVAT,Error,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,NaN
5,Error,ItalianVAT,Error,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,NaN
6,Error,ItalianFiscalCode,Address,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,NaN
7,Error,ItalianFiscalCode,Address,Address,Error,ItalianZIPCode,Error,ProvinceCode,Error,Error,Error,Date,Error